/****************** common ********************/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

h4 {
    margin-bottom: 40px;
    font-weight: 600;
}

.page_title {
    text-align: center;
    margin-bottom: 3.5%;
}


/*** navigation & footer ***/

.language,
.language a {
    color: #ffffff;
    text-decoration: none;
}

.language {
    display: inline;
    float: right;
    margin-top: 20px;
}


/*** header- blue (all header besides home)***/

.language.blue,
.language.blue a {
    color: #000000;
}

.header-blue {
    height: 120px;
    background-color: #e7f1f2;
}

.header-blue .nav ul li a {
    color: #000000;
}

.header-blue .nav ul li a:hover,
.language.blue a:hover {
    color: #000099;
}

.row .nav {
    text-align: center;
    margin: 35px 0 0 0;
}

.nav ul,
.footer ul {
    padding: 0;
}

.nav ul {
    margin-left: 100px;
    clear: both;
}

.nav ul li,
.footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 0;
}

.nav ul li {
    padding-right: 30px;
}

.nav ul li a,
.footer ul li a {
    text-decoration: none;
    letter-spacing: 4px;
}

button.navbar-toggler.hidden-sm-up {
    background-color: transparent;
    border: none;
}

button.navbar-toggler.hidden-sm-up {
    color: #ffffff;
    font-size: 25px;
}

button:focus {outline:0;}


/*** hide hamburger nav***/

nav.navbar {
    display: none;
}


/*** main container size ***/

.main .container {
    max-width: 960px;
    height: auto;
}


/*** footer ***/

.footer {
    background-color: #e7f1f2;
    /*height: 7em;*/
}

.footer .container {
    padding-top: 20px;
    max-width: 980px;
}

.footer ul li a {
    font-size: 12px;
    color: #BDBDBD;
}

.footer ul li a:hover {
    color: #1f2652;
}

.footer p {
    text-align: center;
    color: #BDBDBD;
    margin-top: 20px;
}

.footer i {
    font-size: 23px;
    color: #1f2652;
    /*padding-right: 8px;*/
}

.footer a:hover i {
    color: #BDBDBD;
}


/****************** home ********************/

.header {
    background: url(../img/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 36em;
}

.header .nav ul li a {
    color: #ffffff;
}

.header .nav ul li a:hover,
.language a:hover {
    color: #808080;
}

.container.home {
    background: #F9F9F9;
}


/*** hide row for mobile. last row swicth stacking order***/

.row.mobile {
    display: none;
}

img.center-block.welcome {
    max-width: 500px;
    width: 100%;
    margin-top: 65px;
}

.row img.center-block.font {
    max-width: 200px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 20px;
}

.row img.center-block.cup {
    max-width: 200px;
    margin-top: 3em;
}

.row img.center-block.flag {
    margin-top: 2em;
    max-width: 35em;
    width: 100%;
}

.main .col-sm-6 {
    padding: 0;
}

img.home-grid {
    width: 100%;
    height: auto;
}

.main.home {
    margin: 0;
}

.main .col-sm-6 p {
    margin: 0 20px 0 20px;
}

a.link_pages:link,
a.link_pages:visited,
a.link_pages:hover {
    color: #333;
    text-decoration: none;
}


/****************** gallery ********************/

.gallery {
    margin-bottom: 50px;
}

.main {
    margin: 3% 0 6% 0;
}

img.th {
    margin: 0 10px 15px 0;
}


/****************** event ********************/

h3.text-center.event_title {
    font-size: 18px;
    margin: 0 0 10px 0;
}

img.img_servie {
    width: 100%;
    height: auto;
}

.row.event {
    margin-bottom: 10%;
}

button.btn {
    border-radius: 0;
    border-color: #333;
}

.event .col-sm-8 p {
    margin: 20px 0 30px 0;
}

ul.list_event {
    padding-left: 19px;
    margin-top: 20px;
}

.event .col-sm-8 p.withArt {
    margin: 0 0 5px 0;
}


/****************** press & prize ********************/

.video_list {
    margin-bottom: -7%;
}

.video_list p {
    font-weight: 700;
    margin: 0 0 18px 0;
}

.list_award p {
    font-weight: 700;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

img.blz {
    float: left;
    margin-right: 60px;
}

.list_award {
    padding-bottom: 30px;
}


/****************** about ********************/

.main.about {
    height: 583px;
}

img.profile{
    max-width:450px;
    width: 100%;
}


/****************** contact ********************/

.container.contact {
    width: 90%;
    margin-bottom: 30px;
}

.main.contact {
    height: auto;
}

.container.contact .row {
    width: 100%;
    margin: 0;
}

.column-half {
    width: 49%;
    float: left;
}

.column-half.name {
    margin-right: 2%;
}

.container.contact form input,
.container input#submit {
    height: 2.7em;
    font-weight: 500;
    border: 1.0px solid #777;
    padding: 5px;
    letter-spacing: 2px;
}

.container form input {
    width: 100%;
    margin-bottom: 13px;
}

.container textarea {
    width: 100%;
    height: 15em;
    font-weight: 500;
    border: 1.0px solid #777;
    margin-bottom: 13px;
    resize: none;
    padding: 5px;
    letter-spacing: 2px;
}

.container input#submit {
    width: 30%;
    background: #fff;
}

::-webkit-input-placeholder {
    color: #333;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #333;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}

textarea,
input[type="text"],
input[type="email"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

p.name-error,
p.email-error,
p.subject-error,
p.message-error {
    color: #333;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
}

input#submit {
    display: block;
    margin: 0 auto;
}

.footer.contact {
    margin-top: 5%;
}

.error {
    margin-top: 20px;
}


/****************** media query ********************/

@media(max-width: 998px) {
    .row .nav {
        display: none;
    }
    /**** show hamburger nav****/
    nav.navbar {
        display: block;
    }
    nav.navbar ul li a.nav-link {
        background: transparent;
    }
    nav.navbar ul li a,
    .language.blue,
    .language.blue a {
        color: #ffffff;
    }
    nav.navbar ul li a:hover,
    .language.blue a:hover {
        color: #808080;
    }
    nav ul.nav.navbar-nav {
        padding-left: 10%;
    }
    /**** for header-blue (all nav background besides home)****/
    .header-blue {
        height: 331px;
        background: url(../img/1.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /*** home main ***/
    .row img.center-block.cup {
        width: 42%;
        margin-top: 0;
    }
    .row img.center-block.font {
        margin-top: 30px;
    }
    .footer ul {
        float: left;
    }
    .icon {
        float: right;
        margin-right: 15px;
    }
    /*** gallery ***/
    .gallery {
        max-width: 616px;
        margin: 0 auto;
    }
}

@media(max-width: 767px) {
    .row.mobile {
        display: block;
    }
    .row.non-mobile {
        display: none;
    }
    img.home-grid {
        width: 60%;
        margin-top: 2em;
        margin-left: 20%;
    }
    nav ul.nav.navbar-nav {
        padding-left: 0;
    }
    img.center-block.profile {
        margin-bottom: 30px;
    }
    .main.about,
    .main.contact {
        height: auto;
    }
    img.img_servie {
        margin-bottom: 4%;
        width: 60%;
        height: auto;
    }
}

@media(max-width: 675px) {
    .footer {
        height: 15em;
    }
    .footer ul li {
        display: block;
        padding-bottom: 5px;
    }
    .footer p {
        margin: 0;
    }
}

@media(max-width: 656px) {
    .gallery {
        width: 293px;
        margin: 0 auto;
    }
}

@media(max-width: 425px) {
    .header {
        height: 331px;
    }
    /*** home ***/
    .col-sm-6.col-sm-pull-5 p {
        margin-bottom: 50px;
    }
    img.center-block.welcome {
        margin-top: 0;
    }
    .row img.center-block.flag {
        margin: 0;
    }
    img.home-grid {
        width: 100%;
        margin-left: 0;
    }
    .column-half {
        width: 100%;
    }
    img.img_servie {
        width: 100%;
        height: auto;
    }
    .container input#submit {
        width: 100%;
    }
    img.img_servie {
        margin-bottom: 7%;
    }
    /*** media and prize ***/
    .video_list {
        margin: 33px 0 0 0;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    img.blz {
        float: none;
    }
    .list_award p {
        margin-top: 7px;
    }
}
